:root {
  --font-primary: sans-serif;
  --color-primary: red; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: var(--font-primary);
  text-align: center;
  overflow-x: hidden; }

.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #c32630;
  background: linear-gradient(324deg, #c32630 52%, #551723 100%);
  background-size: cover;
  background-position: center; }

.loader {
  background-image: url("../img/jordan.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 400; }
  .loader__bar {
    height: .5rem;
    width: 30%;
    background: #1b3263;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem #2187e7b3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9rem;
    margin: auto; }
    .loader__bar__inner {
      height: 80%;
      background: #2187e7;
      width: 0%;
      left: 0;
      position: absolute; }

.details {
  width: 100%;
  height: 100vh;
  position: relative; }
  .details__text {
    position: absolute;
    width: 40%;
    height: 45%;
    top: 0;
    bottom: 0rem;
    right: 11rem;
    margin: auto;
    font-size: 2.6rem;
    line-height: 1.3;
    text-align: start; }

.test {
  height: 100vh;
  width: 100%; }

.edition {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(324deg, rgba(195, 38, 49, 0.432) 52%, rgba(195, 38, 49, 0.432) 100%), url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center; }
  .edition__text {
    font-size: 6rem;
    font-weight: 600;
    margin-right: 3rem;
    color: white; }

.count {
  width: 7rem;
  height: 7rem;
  font-size: 3rem;
  background: #1a1919;
  border-radius: 50%;
  border: 1px solid #c32630;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: verdana;
  padding: 1.5rem; }

.footer {
  width: 100%;
  height: 100vh;
  background-image: url("../img/home.jpg");
  background-position: center;
  background-size: cover; }

.insta {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .insta__title {
    font-size: 3rem;
    margin-bottom: 5rem;
    align-self: flex-start;
    transform: translateX(10rem); }
  .insta__gallery {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .insta__gallery__item {
      overflow: hidden; }
      .insta__gallery__item--1 {
        width: 40%;
        height: 60%; }
      .insta__gallery__item--2 {
        width: 40%;
        height: 90%;
        transform: translate(-8rem, 12rem); }
    .insta__gallery__img {
      object-fit: cover;
      width: 100%; }
      .insta__gallery__img--1 {
        align-self: flex-start; }

.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .intro__bgtext {
    position: fixed;
    top: 20rem;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 13rem;
    font-weight: 800;
    color: #33010b27;
    z-index: 99; }
  .intro__shoe {
    width: 55rem;
    object-fit: cover;
    position: fixed;
    bottom: 9rem;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100; }
  .intro__add {
    position: absolute;
    font-size: 13rem;
    font-weight: 800;
    min-width: 100vw;
    color: rgba(75, 5, 5, 0.514);
    transform: rotateZ(-20deg);
    text-shadow: 2px 0 0 rgba(75, 5, 5, 0.514), -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    opacity: 0;
    animation: move 4s linear;
    animation-delay: 4s; }
    .intro__add--2 {
      transform: rotateZ(-20deg);
      z-index: 202;
      animation-delay: 10s;
      animation: move2 4s linear;
      animation-delay: 4s; }

@keyframes move {
  0% {
    transform: rotateZ(-20deg) translateX(100%);
    opacity: 0; }
  100% {
    transform: rotateZ(-20deg) translateX(-100%);
    opacity: 1; } }

@keyframes move2 {
  0% {
    transform: rotateZ(-20deg) translateX(-100%) translateY(30rem);
    opacity: 0; }
  100% {
    transform: rotateZ(-20deg) translateX(100%) translateY(30rem);
    opacity: 1; } }
  .intro__logo {
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 3rem;
    left: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
    z-index: 2000; }
    .intro__logo__img {
      width: 100%;
      object-fit: cover; }
      .intro__logo__img:hover {
        cursor: pointer; }

.jordan {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .jordan__text {
    width: 50%;
    height: 90%;
    margin: auto;
    z-index: 2;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center; }
    .jordan__text p {
      text-align: center;
      width: 50%;
      font-size: 1.3rem;
      line-height: 1.3;
      margin-left: 8rem; }
  .jordan__title {
    width: 50%;
    font-size: 4rem;
    position: relative;
    margin-bottom: 3rem;
    margin-left: 8rem; }
    .jordan__title__img {
      position: absolute;
      top: 0;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 10rem;
      height: 10rem;
      background-image: url("../img/logo.png");
      background-size: cover;
      background-position: center;
      z-index: -1; }
    .jordan__title__text {
      color: white;
      z-index: 20;
      text-align: center; }
  .jordan__img {
    width: 45%;
    height: 90%;
    margin: auto;
    background-image: linear-gradient(324deg, rgba(195, 38, 49, 0.432) 52%, rgba(195, 38, 49, 0.432) 100%), url("../img/jordan.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    box-shadow: 10px 10px 24px -12px #080808;
    border-radius: 3px; }

.nike {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nike__text {
    width: 50%;
    height: 90%;
    margin: auto;
    z-index: 2;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .nike__text p {
      text-align: center;
      width: 50%;
      font-size: 1.3rem;
      line-height: 1.3;
      margin-left: 9rem; }
  .nike__title {
    width: 50%;
    font-size: 3rem;
    position: relative;
    margin-bottom: 6rem;
    margin-left: 9rem; }
    .nike__title__img {
      position: absolute;
      top: 4.9rem;
      bottom: 0;
      left: 2rem;
      right: 0;
      margin: auto;
      width: 15rem;
      object-fit: cover;
      z-index: -1; }
    .nike__title__text {
      color: white;
      z-index: 20;
      text-align: center; }
  .nike__img {
    width: 45%;
    height: 90%;
    margin: auto;
    background-image: linear-gradient(324deg, rgba(195, 38, 49, 0.432) 52%, rgba(195, 38, 49, 0.432) 100%), url("../img/brook.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
    box-shadow: 10px 10px 24px -12px #080808;
    border-radius: 3px; }
