.insta {
    height: 120vh;
    width: 100vw;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  
    &__title {
      font-size: 3rem;
      margin-bottom: 5rem;
      align-self: flex-start;
      transform: translateX(10rem);
    }
  
    &__gallery {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
    
  
      &__item {
          overflow: hidden;
  
        &--1 {
          width: 40%;
          height: 60%;
        }
  
        &--2{
          width: 40%;
          height: 90%;
          transform: translate(-8rem, 12rem);
        }
  
      
      }
  
      &__img {
          object-fit: cover; 
          width: 100%;
  
          &--1 {
            align-self: flex-start;
          }
  
     
      }
  
  
    }
  }