.jordan {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   


    &__text {
        width: 50%;
        height: 90%; 
        margin: auto;
        z-index: 2;
        display: flex;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;

        

        & p {
            text-align: center;
            width: 50%;
            font-size: 1.3rem;
            line-height: 1.3;
            margin-left: 8rem;
        }
    }

    &__title {
        width: 50%;
        font-size: 4rem;
        position: relative;
        margin-bottom: 3rem;
        margin-left: 8rem;
      


        &__img {
            position: absolute;
            top: 0;
            bottom: 1rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 10rem;
            height: 10rem;
            background-image: url('../img/logo.png');
            background-size: cover;
            background-position: center;
            z-index: -1;
 
        
        } 

        &__text {
            color: white;    
            z-index: 20; 
            text-align: center;
    
        }
    } 

    
    &__img {
        width: 45%;
        height: 90%;
        margin: auto;
        background-image:  linear-gradient( 324deg, rgba(195, 38, 49, 0.432) 52%, rgba(195, 38, 49, 0.432) 100%), url('../img/jordan.jpg');        
        background-size: cover;
        background-position: center;
        z-index: 1;
        box-shadow: 10px 10px 24px -12px rgba(8,8,8,1);
        border-radius: 3px;
        }
}
