.nike {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   


    &__text {
        width: 50%;
        height: 90%; 
        margin: auto;
        z-index: 2;
        display: flex;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      

        

        & p {
            text-align: center;
            width: 50%;
            font-size: 1.3rem;
            line-height: 1.3;
            margin-left: 9rem;
            color: var(--color-white);    

       
        }
    }

    &__title {
        width: 50%;
        font-size: 3rem;
        position: relative;
        margin-bottom: 6rem;
        margin-left: 9rem;
      


        &__img {
            position: absolute;
            top: 11.9rem;
            bottom: 0;
            left: 7rem;
            right: 0;
            margin: auto;
            width: 21rem;
            object-fit: cover;
            z-index: -1;
            border: none;
                
        } 

        &__text {
            z-index: 20; 
            text-align: center;
            color: var(--color-white);   
    
        }
    } 

    
    &__img {
        width: 45%;
        height: 90%;
        margin: auto;
        background-image:  linear-gradient( 324deg, rgba(195, 38, 49, 0.432) 52%, rgba(195, 38, 49, 0.432) 100%), url('../img/brook.png');        
        background-size: cover;
        background-position: center;
        z-index: 1;
        box-shadow: 10px 10px 24px -12px rgba(8,8,8,1);
        border-radius: 3px;
        }
}
