:root {

    --font-primary : sans-serif;
    --color-primary: #c32630;
    --color-primary-dark: #551723;
    --color-red: #d90c0c;
    --color-grey: #817e7e;
    --color-white: #f1f1f1;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @media screen and (max-width: 850px) {
        font-size: 50%;
    }
}



body {
    font-family: var(--font-primary);
    text-align: center;



  //  overflow-y: hidden; 

}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr repeat(4, 22vw) 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    overflow-x: hidden;
    position: relative;  
  
}



::-webkit-scrollbar { 
    display: none; 
}


.next {
    grid-column: 1 / -1;
    height: 100vh;
    width: 100%;
    position: relative;
    background: var(--color-white);
    z-index: 4;
    overflow: hidden;

    &__text {
        font-size: 11rem;
        font-weight: 700;
        transform-style: preserve-3d;
        perspective: 1000px;
        position: absolute;
        bottom: 5rem;
     
        left: 0;
        right: 0;
        margin: auto; 
        display: none;
    }

    &__title {
        text-shadow: 6px 11px 17px var(--color-primary-dark);
         color: var(--color-white);
         transform: rotateX(65deg);
       

    }


 

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
       

        &--yellow {
            width: 36rem;
            transform: rotateZ(-2deg) translateY(-5%);
            z-index: 2;
          //  opacity: 0;
          
        }

        &--blue {
            width: 21rem;
            transform: rotateZ(-2deg) translateY(-19%);
        

            // opacity: 0;
        }

        &--origin {
            transform: rotateZ(-1deg) translateX(-12%);
            height: 25rem;
            z-index: 5;
        }

        &--multi {
            height: 17rem;
            transform: rotateZ(0deg) translateY(-9%);
            z-index: 2;
        
       
      
        }

        &--grey{
            height: 18rem;

            transform: rotateZ(0deg) translateY(-17%);
       
      
        }
    }
}










       

      










    

          


    






