:root {

    --font-primary : sans-serif;
    --color-primary: #c32630;
    --color-primary-dark: #551723;
    --color-red: #d90c0c;
    --color-grey: #817e7e;
    --color-white: #f1f1f1;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    
}

body {
    font-family: var(--font-primary);
    text-align: center;
    overflow-x: hidden;
    width: 100vw;
  //  overflow-y: hidden;  
}

::-webkit-scrollbar { 
    display: none; 
}


.next {
    height: 100vh;
    width: 100%;
    position: relative;
    background: var(--color-white);
    z-index: 4;

    & div {
        font-size: 11rem;
        font-weight: 700;
        transform-style: preserve-3d;
        perspective: 1000px;
        position: absolute;
        bottom: 5rem;
        transform: rotateX(31deg);
        left: 0;
        right: 0;
        margin: auto;
        

        & div {
            text-shadow: 6px 11px 17px var(--color-primary-dark);
            color: var(--color-white);
        }
        
    }
 

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
       

        &--yellow {
            width: 36rem;
            transform: rotateZ(-2deg) translateY(-5%);
            z-index: 2;
          //  opacity: 0;
          
        }

        &--blue {
            width: 21rem;
            transform: rotateZ(-2deg) translateY(-19%);
        

            // opacity: 0;
        }

        &--origin {
            transform: rotateZ(-1deg) translateX(-12%);
            height: 25rem;
            z-index: 5;
        }

        &--multi {
            height: 17rem;
            transform: rotateZ(0deg) translateY(-9%);
            z-index: 2;
        
       
      
        }

        &--grey{
            height: 18rem;

            transform: rotateZ(0deg) translateY(-17%);
       
      
        }
    }
}

.nextGallery {

    height: 100vh;
    width: 100%;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
    z-index: 5;
    background: white;


    &__control {
        position: absolute;
        top: 10rem;
        right: 5rem;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
   

        &__item {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 1rem 0;

            &--blue {
                background: rgb(29, 29, 202);
            }

            &--yellow {
                background: yellow;
            }

            &--grey {
                background: grey;

            }

            &--red {
                background: red;
            }
        }

    }


    &__item { 
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        background: var(--color-primary);
        box-shadow: 10px 10px 24px -12px rgba(8,8,8,1);      
        margin: auto;


        &--1 {
            left: 9rem;
            width: 45rem;
            height: 30rem;
            bottom: 5rem;
            z-index: 2;
            transform: rotate(10deg);
            transform-origin: top left;
        }

        &--2 {
            top: -2rem;
            left: 15rem;
            height: 52.5rem;
            width: 45rem;
            z-index: 1;
           

        }
    }







    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;    
        position: absolute;
        background: blue;
       


        &--yellow {
            z-index: 5;
         
       
        }

        &--blue {
            transform: translateY(-100%);
            z-index: 6;
            opacity: 0;
        }

       

      

}

}






    

          


    






