.layer {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--color-primary);
    background: linear-gradient(324deg, var(--color-primary) 52%, var(--color-primary-dark) 100%);
    background-size: cover;
    background-position: center;


}