:root {

    --font-primary : sans-serif;
    --color-primary: #c32630;
    --color-primary-dark: #551723;
    --color-red: #d90c0c;
    --color-grey: #817e7e;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    
}

body {
    font-family: var(--font-primary);
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;  
}

::-webkit-scrollbar { 
    display: none; 
}








    

          


    






