:root {

    --font-primary : sans-serif;
    --color-primary: #c32630;
    --color-primary-dark: #551723;
    --color-red: #d90c0c;
    --color-grey: #817e7e;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    
}

body {
    font-family: var(--font-primary);
    text-align: center;
    overflow-x: hidden;
  //  overflow-y: hidden;  
}

::-webkit-scrollbar { 
    display: none; 
}


.next {
    height: 100vh;
    width: 100%;
    position: relative;

 

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
       

        &--red{
            height: 25rem;
            transform: rotateZ(-2deg);
            opacity: 0;
          
        }

        &--blue {
            width: 38rem;
            transform: rotateZ(-2deg);
            opacity: 0;
        }

        &--origin {
            transform: rotateZ(-4deg);
            height: 25rem;
          
        }

        &--multi {
            height: 21rem;
            transform: rotateZ(-2deg);
            opacity: 0;
      
        }
    }
}

.test {
    height: 100vh;
    width: 100%;
    background: yellow;
}






    

          


    






