.footer {
    grid-column: 1 / -1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(324deg, var(--color-primary) 52%, var(--color-primary-dark) 100%);
    //background: var(--color-primary);
    //background: linear-gradient(324deg, var(--color-primary) 52%, var(--color-primary-dark) 100%);
    background-position: center;
    background-size: cover;
    position: relative;

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-around;
      
        height: 82%;
    }


    &__list {
        list-style: none;
        width: 15rem;
        padding: 1rem 2rem;

        &__item {
            margin: 1rem 0;
            padding: .5rem 0;
            font-size: 1.3rem;
            color: var(--color-white);
        }
    }
 
  
    &__textBG {
        position: absolute;
        top: 27rem;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 13rem;
        font-weight: 800;
         color: rgba(51, 1, 11, 0.153);
        font-family: 'Work Sans', sans-serif;
        z-index: 99;

        
        display: none;
     
    }


    &__social-media {
        width: 97%;
        margin: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        height: 10%;
        border-top: .1px solid var(--color-grey);
        border-bottom: .1px solid var(--color-grey);
     

        &__icon {
            border: none;
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            padding: auto;
            margin: 0 1rem;
            align-self: center;
            fill: wheat;
        
            
        }
    }

    &__bottom {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & small {
            margin-left: 5rem;
            color: var(--color-white);
        }

        &__links {
            width: 30%;
            display: flex;
            justify-content: space-around;
            margin-right: 4rem;
            color: var(--color-white);
        }
    }

    
    &__cta {
        height: 5rem;
        width: 5rem;
        position: absolute;
        top: 0rem;
        left: 0;
        right: 0;
        margin: auto;    
        background: salmon;
        z-index: 10;
        box-shadow: 10px 10px 24px -12px rgba(8,8,8,1);
    }
}

