.insta {
    grid-column: 2 / 6;
    height: 100vh;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  
    &__title {
      font-size: 4rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
      align-self: flex-start;
      transform: translateX(10rem);
      font-family: 'Work Sans', sans-serif;
      display: flex;
      flex-direction: column;
      width: 50vw;
      max-width: 66rem;

      & span:nth-child(1){
        align-self: flex-start;
      }

      & span:nth-child(2) {
        width: 67%;
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        transform: translateY(-12%);
   
     

        & div {
          height: .5rem;
          width: 35rem;
          background: black;
      
      
          
        }
      }
    }
  
    &__gallery {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
    
  
      &__item {
          overflow: hidden;
          box-shadow: 10px 10px 24px -12px rgba(8,8,8,1);
  
        &--1 {
          width: 40%;
          height: 60%;
          transform: translateY(-7rem);
        }
  
        &--2{
          width: 40%;
          height: 90%;
          transform: translate(-8rem, 7rem);
          z-index: 10;
        }
  
      
      }
  
      &__img {
          object-fit: cover; 
          width: 100%;
  
          &--1 {
            align-self: flex-start;
          }
  
     
      }
  
  
    }
  }